name: douban sync
on:
  schedule:
    # 稍微错开整点，设定在 15:05 UTC (北京时间 23:05)
    - cron: '5 15 * * *'
  # 增加 push 触发
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Movie Sync
        uses: lizheming/doumark-action@master
        with:
          id: somkanel
          type: movie
          format: json
          dir: ./data
          cookie: ${{ secrets.DOUBAN_COOKIE }}
      - name: Commit
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add .
          git commit -m "Update douban data" || exit 0
          git push
