name: douban sync
on:
  schedule:
    - cron: '5 15 * * *'
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Delete old data
        run: |
          rm -rf ./data

      - name: Movie Sync
        uses: lizheming/doumark-action@master
        with:
          id: somkanel
          type: movie
          format: json
          dir: ./data

      - name: Commit and Push
        uses: EndBug/add-and-commit@v9
        with:
          message: 'chore: update douban data'
          add: './data'
