name: douban sync
on:
  schedule:
    - cron: '0 15 * * *' # 每天北京时间23点运行
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Movie Sync
        uses: lizheming/doumark-action@master
        with:
          id: somkanel
          type: movie
          format: json # 强制输出JSON格式
          dir: ./data
      - name: Commit
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add .
          git commit -m "Update douban data" || exit 0
          git push
