name: Douban mark data sync
on:
  schedule:
    - cron: '5 15 * * *'
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Movie Sync
        uses: lizheming/doumark-action@master
        with:
          id: somkanel
          type: movie
          format: json
          dir: ./data
