name: douban sync
on:
  schedule:
    - cron: '5 15 * * *'
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # 这一步我们不再删除 data 文件夹，而是保留它以便进行增量下载图片
      - name: Movie Sync
        uses: lizheming/doumark-action@master
        with:
          id: somkanel
          type: movie
          format: json
          dir: ./data
          # 关键参数：开启图片下载功能，并存放在 assets 文件夹
          image: true
          imageDir: ./assets 
          imagePrefix: https://cdn.jsdelivr.net/gh/somkanel/sol-douban-data/assets
          cookie: ${{ secrets.DOUBAN_COOKIE }}

      - name: Commit and Push
        uses: EndBug/add-and-commit@v9
        with:
          message: 'chore: update douban data and sync images'
          add: '.' # 提交所有变动，包括 JSON 和新下载的图片
